.doc-wrapper {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.sidebar {
  width: 250px;
  border-right: 1px solid #ddd;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 1.3rem;
  color: #004b63;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #2aa5a0;
  font-weight: 500;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.doc-content {
  flex: 1;
}

.doc-content section {
  margin-bottom: 60px;
}

.doc-content h3 {
  color: #004b63;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.doc-content p {
  margin-bottom: 12px;
  text-align: justify;
}

html {
  scroll-behavior: smooth;
}
